img {
  max-height: 200px;
  max-width: 200px;
}

.recipe {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display:flex;
 
  margin-bottom: 20px;
}

.ingredientTitle {
  font-size: large;
  font-weight:600;
  position: relative;
  
}

.ingredientslist {
  position: relative;
  
}