.gradient-wall {
background: linear-gradient(to right, black 0%, #EF4444 20%, #EF4444 80%, black 100%);

}

img {
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 20px ;
}

.recipe {
  border-bottom: 3px solid black;
  width: 5;
  display:flex;
  margin-bottom: 20px;
}



/*secondpage*/
.sidebar {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.main_results {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
 /* border around the container */
  width: 100%;
  height: 1000px;
}
#left-section{
  padding: 20px;
  border-right: 3px solid #000; /* border around each section */
}
#rightSection {
  padding: 20px;
}

/* Set the width for each section */
#left-section {
  flex: 1; /* 1/4 of the container width */
}
#rightSection {
  flex: 5; /* 3/4 of the container width */
}

header {
  border-bottom: 3px solid #000;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

#button {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  padding: 10px;
 
}