img {
  max-height: 250px;
  max-width: 250px;
  margin-right: 15px;
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 20px ;
}

.recipe {
  border-bottom: 3px solid black;
  width: 5;
  display:flex;
  margin-bottom: 20px;
}




/*secondpage*/
.sidebar {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.main_results {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
